table{
    border-collapse: collapse;
}
tr, td, th{
    border: black 1px solid;
    padding: 3px;
    margin: 2px;
}

button{
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.btn1 {
    background-color: #07c70e;
    margin-right: 130px;
}
.btn2 {
    background-color: #cf2204;
}
.btn3 {
    background-color: #05990a;
}
.btn4 {
    background-color: #052899;
}
.btn5 {
    background-color: #ca0537;
}
button:hover {
    background-color: #271b22;
    color: white;
}
.todo{
	-webkit-border-radius:6px; 
    -moz-border-radius:6px; 
	border-radius:6px;
    clear: both;
    padding: 20px;
    max-width: 360px;
}
fieldset{
    max-width: 360px;
}

form label {
    display: block;
    float: left;
    width: 120px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 15px;
}
.form-submit{
        display: flex;
        justify-content: center;
        padding-top: 30px;
}
input{
    margin-bottom: 8px;
}
